.Footer-container {
    position: relative;
    height: 50vh;

}

.Footer-container>hr {
    border: 1px solid var(--lightgray)
}

.footer {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.social-links{
    display: flex;
    gap: 80px;
}

.social-links>img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.logo-f>img{
    width: 150px;
}

.blur-f-1{
    bottom: 0;
    right: 15%;
    width: 300px;
    height: 150px;
    filter: blur(200px);
    background: red;
}

.blur-f-2{
     bottom: 0;
    right: 15%;
    width: 300px;
    height: 150px;
    filter: blur(200px);
    background: rgb(255,155,0);
}